@import '../../../../styles';

.general{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.personaForm{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 50%;
    justify-content: space-between;
    .form__input{
        @include reset-styles;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: 2px solid gray;
        transition: 0.5s;

        &:hover{
            border: 2.5px solid black;
            border-radius: 20px;
        }
        &:focus{
            border: 2.5px  dashed black;
            border-radius: 20px;
        }
        &:focus::-webkit-input-placeholder{
            color:transparent;
        }
    }
    .form__buttons{
        width: 100%;
        display: flex;
    }
    .form__button{
        @include reset-styles;
        cursor: pointer;
        width: 45%;
        padding: 10px;
        color: white;
        transition: 0.5s;
        &[type="submit"]{
            background-color: rgb(83, 204, 83);
        }
        &[type="reset"]{
            background-color: red;
        }
        &:hover{
            opacity: 60%;
        }
    }
}
.link{
    cursor: pointer;
}
